{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block sources %}
    <link rel="stylesheet" href="{% static "home/css/index.css" %}">
    <script src="{% static "home/js/index.js" %}"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>SAS Magic Club</h1>
        <h2>Dive into the World of <span>Magic</span></h2>
        <div class="mission-statement">
            <blockquote></blockquote> 
            <p class="citation"></p>
        </div>
    </section>
    <section>
        <div class="video-container">
            <video class="promotion-video" autoplay muted loop>
                <source src="https://storage.googleapis.com/videoholders/video/Club%20Fair%20Video.MP4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <img src="{% static "home/images/volume-off.svg" %}" alt="volume" class="volume-controller" draggable="False" onclick="switchVideoMute(this)">
        </div>
        <p class="video-subtitle">Presented by our founder <i>Legend Y.</i></p>
    </section>
    <section>
        <h1>Events Participated</h1>
        <p class="card-hint">Hover your mouse on the card to see more</p>
        <div class="cards">
            <div style="--idx: -2;" class="card" title="More in the future ...">
                <div class="front">
                    <h1>More in the future ...</h1>
                </div>
                <div class="back">
                    <h2>More in the Future<br>...</h2>
                </div>
            </div>
            <div style="--idx: -1;" class="card" title="International Fair">
                <div class="front">
                    <h1>International Fair</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/international-fair.jpeg" %}" alt="international fair">
                    <p>
                        We cooperated with the SAS SAVE Club at the annual International Fair. As part of the SAS community, we not only focus on our own magic skills, but also other activities hosted by school, including the International Fair.
                    </p>
                </div>
            </div>
            <div style="--idx: 0;" class="card" title="Primary School Performance">
                <div class="front">
                    <h1>Primary School Performance</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/primary-school-performance.jpeg" %}" alt="primary school performance">
                    <p>
                        Magic Club not only focuses on formal on-stage performances, but also casual off-stage tricks to small groups. As a tradition of Magic Club, we frequently visit the elementary school, and showcase our skills to the primary school students.
                    </p>
                </div>
            </div>
            <div style="--idx: 1;" class="card" title="Open Stage 2024">
                <div class="front">
                    <h1>Open Stage 2024</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/open-stage-2024.jpeg" %}" alt="open stage 2024">
                    <p>
                        Participated in the 2024 Open Stage Performance, hosted by the <abbr title="Visual Performing Arts Council">VPAC</abbr>. Two of our members performed an unforgettable magic tricks to the audiences. Our founder <i>Legend Y. </i>even managed to fuse two cards together with a camera on top of him.
                    </p>
                </div>
            </div>
            <div style="--idx: 2;" class="card" title="Theatre Festival 2025">
                <div class="front">
                    <h1>Theatre Festival 2025</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/theatre-festival-2025.jpeg" %}" alt="theatre festival 2025">
                    <p>
                        We enrolled in the SAS 2025 Theatre Festival, and performed a legedary magic show. Our founder — <i>Legend Y</i>, was cut in half in front of the audiences with two sharp knifes. Yet, he's body miraculously revived at last.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}