{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block sources %}
    <link rel="stylesheet" href="{% static "home/css/index.css" %}">
    <script src="{% static "home/js/index.js" %}"></script>
{% endblock %}

{% block content %}
    <section>
        <h1>SAS Magic Club</h1>
        <h2>Dive into the World of <span>Magic</span></h2>
        <div class="mission-statement">
            <blockquote></blockquote> 
            <p class="citation"></p>
        </div>
    </section>
    <section>
        <div class="video-container">
            <div class="video">
                <video class="promotion-video" autoplay loop muted>
                    <source src="{% static "home/videos/promotion-video.mp4" %}" type="video/mp4">
                    Your browser does not support the HTML video tag.
                </video>
                <img src="{% static "home/images/volume-off.svg" %}" alt="volume" class="volume-controller" draggable="False">
            </div>
            <p class="subtitle">Presented by our legendary founder <b>Legend Y.</b></p>
        </div>
    </section>
    <section>
        <h1>Events Participated</h1>
        <p class="card-hint">Hover your mouse on the card to see more</p>
        <div class="cards">
            <div style="--idx: -2;" class="card" title="More in the future ...">
                <div class="front">
                    <h1>More in the future ...</h1>
                </div>
                <div class="back">
                    <img>
                    <p>

                    </p>
                </div>
            </div>
            <div style="--idx: -1;" class="card" title="International Fair">
                <div class="front">
                    <h1>International Fair</h1>
                </div>
                <div class="back">
                    <img src="" alt="international fair">
                    <p>

                    </p>
                </div>
            </div>
            <div style="--idx: 0;" class="card" title="Primary School Performance">
                <div class="front">
                    <h1>Primary School Performance</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/primary-school-performance.png" %}" alt="primary school performance">
                    <p>
                        We participated in ...
                    </p>
                </div>
            </div>
            <div style="--idx: 1;" class="card" title="Open Stage 2024">
                <div class="front">
                    <h1>Open Stage 2024</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/open-stage-2024.png" %}" alt="open stage 2024">
                    <p>
                        We participated in ...
                    </p>
                </div>
            </div>
            <div style="--idx: 2;" class="card" title="Theatre Festival 2025">
                <div class="front">
                    <h1>Theatre Festival 2025</h1>
                </div>
                <div class="back">
                    <img src="{% static "home/images/theatre-festival-2025.png" %}" alt="theatre festival 2025">
                    <p>
                        We participated in the school's 2025 Theatre Festival, and performed a legedary magic show. Our founder — Legend Y, was cut in half in front of the audiences with two sharp knifes. Yet, he's body miraculously revived at last.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}