::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    background: black;
    overflow-y: hidden;
}

header {
    position: absolute;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 100;
}

header>nav {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 20px;
    border-bottom: 1.5px solid grey;
    transition: background 0.3s;
}

header nav.highlight {
    background-color: rgba(128, 128, 128, 0.8);
    border: none;
}

header>nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

header>nav>i {
    color: white;
}

header>nav>i::before {
    color: currentColor;
}

header>nav button {
    background: rgba(53, 198, 255, 0.1);
    border: 1.5px solid rgb(53, 198, 255);
    border-radius: 7.5px;
    color: rgb(53, 198, 255);
    cursor: pointer;
    font-size: 18px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;

    &:hover {
        color: white;
        background: rgb(53, 198, 255);
    }

    &:active {
        opacity: 0.6;
    }
}

header>nav>a:not(.logo):hover {
    opacity: 0.8;
    text-decoration: underline;
}

header>nav>a:not(.logo):active {
    opacity: 0.6;
}

header>nav>a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    cursor: pointer;
}

header>nav img {
    border-radius: 50%;
    border: 1px solid white;
    user-select: none;
    pointer-events: none;
}

header>nav>a.logo>span {
    font-size: 36px;
    font-weight: bold;
}

header>nav aside.mobile-burger {
    position: fixed;
    right: 0;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    transform-origin: top right;
    transform: scale(0);
    visibility: hidden;
    transition: 0.3s;
}

header>nav aside.mobile-burger.show {
    visibility: visible;
    transform: scale(1);
}

header>nav aside.mobile-burger ul {
    list-style: none;
}

header>nav aside.mobile-burger ul>li {
    position: relative;
    width: 100%;
    text-align: center;
}

header>nav aside.mobile-burger ul>li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

header>nav aside.mobile-burger ul>li>a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7.5px 15px;
}

header>nav aside.mobile-burger i {
    color: black;
}

header>nav aside.mobile-burger span {
    font-size: 1.8rem;
    color: black;
}

main {
    flex: 1;
    /* To give enough space between the main content and the footer */
    padding-bottom: 25px;
    overflow-y: auto;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

footer.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


@media only screen and (min-width: 750px) {
    .show-mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 750px) {
    .hide-mobile {
        display: none !important;
    }

    header>nav {
        justify-content: space-between;
    }
}