{% load static %}

<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/icon-x" href="{% static 'images/favicon.ico' %}">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/fonts/transformations.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    <title>SAS Magic Club - {% block title %}{% endblock %}</title>

    {% comment %} Other sources {% endcomment %}
    {% block sources %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">
                <img src="{% static "images/logo.jpg" %}" alt="logo.jpg" width="50" height="50" class="hide-mobile">
                <span title="Home">SAS Magic Club</span>
            </a>
            <a href="{% url "events" %}" class="hide-mobile">Events</a>
            <a href="{% url "contact" %}" class="hide-mobile">Contact</a>
            <button onclick="console.log('WIP')" class="hide-mobile">Join Us</button>
            <i class='bx bx-list bx-md show-mobile' onclick="showBurger()"></i>

            <aside class="mobile-burger show-mobile">
                <ul>
                    <li><a href="{% url "events" %}">Events</a></li>
                    <li><a href="{% url "contact" %}">Contact</a></li>
                    <li><a href="#">Join Us</a></li>
                </ul>
            </aside>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 | SAS Magic Club</p>
    </footer>
</body>

</html>